<form action="/user/create" method="post" class="form-signin" style="width:500px;">
  <div class="control-group">
    <input type="text" class="form-control" placeholder="邮箱"  name="email">
  </div>
  <div class="control-group">
    <input type="text" class="form-control" placeholder="密码" name="password">
  </div>
</form>
