<div class="container">
  <h1>名称：<%= user.name %></h1>
  <h3>职位：<%= user.title %></h3>
  <hr>
  <h3>Content: <%- user.email %></h3>
  <a href="/user/edit/<%= user.id %>" class="btn btn-medium btn-primary">编辑</a>
</div>
